services:

  # Database service
  db:
    image: mysql:latest
    container_name: wordpress_db
    restart: unless-stopped
    env_file:
      .env
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - wordpress_network
    
    # Ping the MySQL server to check if ready or not
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 15s
      timeout: 10s
      retries: 5


  # Wordpress app
  wordpress:
    image: wordpress:latest
    container_name: wordpress_app
    restart: unless-stopped
    ports:
      - 8080:80
    env_file:
      .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - wordpress_network

    # starts as soon as the healtcheck from db is positive (healtcheck exits with code 0)
    depends_on:
      db:
        condition: service_healthy


volumes:
  mysql_data:
    name: mysql_data # Name the volume like given name and not like project
  wordpress_data:
    name: wordpress_data


networks:
  wordpress_network:
    driver: bridge
